KEYCLOAK_ADMIN=myadmin
KEYCLOAK_ADMIN_PASSWORD=myadminpassword
KEYCLOAK_REALM=Babymonitor
KEYCLOAK_CLIENT_ID=babymonitor-client-api
KEYCLOAK_USER_ADMIN=adminbm@example.com
KEYCLOAK_USER_PASSWORD=myadminpassword
KEYCLOAK_AUTH_SERVER_URL=http://keycloak:8080/

POSTGRES_KC_DB=mydatabase
POSTGRES_KC_USER=myuser
POSTGRES_KC_PASSWORD=mypassword

DATABASE_URL=jdbc:postgresql://activelobbies-db:5432/active_lobbies
DATABASE_USERNAME=user
DATABASE_PASSWORD=password
DATABASE_DRIVER=org.postgresql.Driver

POSTGRES_LOBBIES_DB=active_lobbies
POSTGRES_PARTICIPANTS_DB=participants
POSTGRES_USER=user
POSTGRES_PASSWORD=password

jwt.secret=w3j9fJ2ksu!d7i8W9$zGpL5vYbT7cR2x
jwt.expiration=3600000
jwt_rsa256=MIIBIjANBgkqhkiG9w0BAQEFAAOCAQ8AMIIBCgKCAQEAv+6MDi2peg3+wCJWHY5lySApzIFpgUqB5kN/VWCEJEzO8tJfucSiWoBIZxh9Obn0RLwNjYSaS5PDgxFuU2UlE/Llh4UfwEhIbNBvfiuIz2rYC+3wlWc0fZ0ikoKk0Oz0w5MwF8Xu7FjYz5RU9DDY+R35eZk6onkTT4jnZRzlKAFgCTrE/+05TDbTHJW1Xd8gpAFLBdcZISpZP/z4IPeKKLsaSIDYydBIWymIYcH31bXq1ud7ezWaX9oGUBrIVSDEED5+ky2Aez4leBdmR0GVi2G5s9ztUmoGGLoZ+qT8qHQoue7SfclVze5piKUfhRaFbGw/W3EPG0PN1NsAVrxveQIDAQAB

MONGODB_URI=mongodb+srv://babymonitor:eAPT5GmmCLMjGsAi@babymonitor.xgjmk.mongodb.net/?retryWrites=true&w=majority&appName=babymonitor
MONGODB_USER=babymonitor@fontys.nl
MONGODB_PASSWORD=UX$4YtRqwJhjay%%gMmE

RABBITMQ_URI=amqps://qwuyrqfp:2WqRSHXH1sFxTA4YJK4dYGMGkVC0Ej4j@cow.rmq2.cloudamqp.com/qwuyrqfp
RABBITMQ_HOST=cow.rmq2.cloudamqp.com
RABBITMQ_PORT=5672
RABBITMQ_USERNAME=qwuyrqfp
RABBITMQ_PASSWORD=2WqRSHXH1sFxTA4YJK4dYGMGkVC0Ej4j
RABBITMQ_VIRTUAL_HOST=qwuyrqfp

